dify 工作流/帖子质量评估-优化版v3.yml
app:
  description: 根据输入的文字和图片进行智能化评论
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: 帖子质量评估-优化版v3
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tongyi:0.1.43@c56cb5159e37b2719559550518312773bb08e11baaf5b791cccf472d272b5438
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: lzfxxx/image-downloader:0.0.1@ed870936bc915d620df8cbcdecf992cb22e5790bfddc73fe828d7db711bcc074
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 600
        batch_count_limit: 5
        file_size_limit: 600
        image_file_batch_limit: 10
        image_file_size_limit: 600
        single_chunk_attachment_limit: 10
        video_file_size_limit: 600
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1768190158662'
        sourceType: iteration-start
        targetType: tool
      id: 1768190158662start-source-1768190240265-target
      selected: false
      source: 1768190158662start
      sourceHandle: source
      target: '1768190240265'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: if-else
      id: 1768187563273-source-1769140147914-target
      selected: false
      source: '1768187563273'
      sourceHandle: source
      target: '1769140147914'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 1769140147914-true-1768190302030-target
      selected: false
      source: '1769140147914'
      sourceHandle: 'true'
      target: '1768190302030'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 1768190302030-source-1776913180969-target
      source: '1768190302030'
      sourceHandle: source
      target: '1776913180969'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: iteration
      id: 1776913180969-true-1768190158662-target
      source: '1776913180969'
      sourceHandle: 'true'
      target: '1768190158662'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1778567505348-source-1778567842041-target
      source: '1778567505348'
      sourceHandle: source
      target: '1778567842041'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 17785675491500-source-1778567845445-target
      source: '17785675491500'
      sourceHandle: source
      target: '1778567845445'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: iteration
        targetType: if-else
      id: 1768190158662-source-1778567944095-target
      source: '1768190158662'
      sourceHandle: source
      target: '1778567944095'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1778567944095-true-1778567994096-target
      source: '1778567944095'
      sourceHandle: 'true'
      target: '1778567994096'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1778567944095-false-1778567996757-target
      source: '1778567944095'
      sourceHandle: 'false'
      target: '1778567996757'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1778567994096-source-1778568951514-target
      source: '1778567994096'
      sourceHandle: source
      target: '1778568951514'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1778567996757-source-1778568954873-target
      source: '1778567996757'
      sourceHandle: source
      target: '1778568954873'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: if-else
      id: 1769140147914-false-1779350355753-target
      source: '1769140147914'
      sourceHandle: 'false'
      target: '1779350355753'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1779350355753-true-17785675491500-target
      source: '1779350355753'
      sourceHandle: 'true'
      target: '17785675491500'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1779350355753-false-1778567505348-target
      source: '1779350355753'
      sourceHandle: 'false'
      target: '1778567505348'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - default: ''
          hint: ''
          label: 帖子标题
          max_length: 512
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: title
        - default: ''
          hint: ''
          label: 帖子文本
          max_length: 4096
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: text
        - default: ''
          hint: ''
          label: 话题
          max_length: 100
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: topic
        - allowed_file_extensions: []
          allowed_file_types:
          - image
          allowed_file_upload_methods:
          - remote_url
          default: ''
          hint: ''
          label: 帖子图片（多个URL分行输入）
          max_length: 2048
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: pics
        - default: ''
          hint: ''
          label: 书籍
          max_length: 256
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: book
      height: 213
      id: '1768187563273'
      position:
        x: -292.4305998281191
        y: 458.6403355728614
      positionAbsolute:
        x: -292.4305998281191
        y: 458.6403355728614
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        error_handle_mode: terminated
        flatten_output: true
        is_parallel: false
        iterator_input_type: array[string]
        iterator_selector:
        - '1768190302030'
        - url_list
        output_selector:
        - '1768190240265'
        - files
        output_type: array[file]
        parallel_nums: 10
        selected: false
        start_node_id: 1768190158662start
        title: 下载图片文件
        type: iteration
        width: 386
      height: 146
      id: '1768190158662'
      position:
        x: 1013.983249518024
        y: 221.4534119086083
      positionAbsolute:
        x: 1013.983249518024
        y: 221.4534119086083
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 386
      zIndex: 1
    - data:
        desc: ''
        isInIteration: true
        selected: false
        title: ''
        type: iteration-start
      draggable: false
      height: 48
      id: 1768190158662start
      parentId: '1768190158662'
      position:
        x: 24
        y: 68
      positionAbsolute:
        x: 1037.983249518024
        y: 289.4534119086083
      selectable: false
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-iteration-start
      width: 44
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        is_team_authorization: true
        iteration_id: '1768190158662'
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The URL of the image to download
            ja_JP: ダウンロードする画像のURL
            pt_BR: A URL da imagem para baixar
            zh_Hans: 要下载的图片URL
          label:
            en_US: Image URL
            ja_JP: 画像URL
            pt_BR: URL da Imagem
            zh_Hans: 图片URL
          llm_description: The URL of the image to be downloaded
          max: null
          min: null
          name: image_url
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        params:
          image_url: ''
        plugin_id: lzfxxx/image-downloader
        plugin_unique_identifier: lzfxxx/image-downloader:0.0.1@ed870936bc915d620df8cbcdecf992cb22e5790bfddc73fe828d7db711bcc074
        provider_icon: /console/api/workspaces/current/plugin/icon?tenant_id=e807ab57-72b7-4603-8efb-9e7b03392600&filename=b18d1ad2a2e32e757d4358b272f24a47e34d6c7b00857cba49ec164eb38058bb.svg
        provider_id: lzfxxx/image-downloader/image-downloader
        provider_name: lzfxxx/image-downloader/image-downloader
        provider_type: builtin
        selected: false
        title: 图片下载器
        tool_configurations: {}
        tool_description: 从URL下载图片
        tool_label: 图片下载器
        tool_name: image_downloader
        tool_node_version: '2'
        tool_parameters:
          image_url:
            type: mixed
            value: '{{#1768190158662.item#}}'
        type: tool
      height: 52
      id: '1768190240265'
      parentId: '1768190158662'
      position:
        x: 128
        y: 68
      positionAbsolute:
        x: 1141.983249518024
        y: 289.4534119086083
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        code: "import requests\ndef split_by_200(pics_list, timeout=1):\n    \"\"\"\
          \n    返回: (ok_200, not_200)\n    - ok_200: status_code == 200 的URL\n   \
          \ - not_200: 其它所有情况（非200或请求异常）的URL\n    \"\"\"\n    ok_200, not_200 = [],\
          \ []\n    sess = requests.Session()\n    headers = {\"User-Agent\": \"Mozilla/5.0\
          \ (url-checker)\"}\n    for url in pics_list:\n        try:\n          \
          \  # 用 HEAD 先探测，不下载图片内容；不跟随跳转\n            r = sess.head(url, allow_redirects=False,\
          \ timeout=timeout, headers=headers)\n            # 有些站点不支持 HEAD（405）时用 GET\
          \ 兜底（同样不下载正文）\n            if r.status_code == 405:\n                r =\
          \ sess.get(url, allow_redirects=False, timeout=timeout, headers=headers,\
          \ stream=True)\n            if r.status_code == 200:\n                ok_200.append(url)\n\
          \            else:\n                not_200.append(url)\n        except\
          \ requests.RequestException:\n            not_200.append(url)\n    return\
          \ ok_200, not_200\n\n\ndef main(arg1: str):\n    if '\\n' in arg1:\n   \
          \     pics_list = arg1.split(\"\\n\")\n    elif '\\\\n' in arg1:\n     \
          \   pics_list = arg1.split(\"\\\\n\")\n    else:\n        pics_list = [arg1]\n\
          \    ok_200, not_200 = split_by_200(pics_list)\n    return {\n        \"\
          url_list\": ok_200\n    }\n"
        code_language: python3
        outputs:
          url_list:
            children: null
            type: array[string]
        selected: false
        title: 获取图片url列表
        type: code
        variables:
        - value_selector:
          - '1768187563273'
          - pics
          value_type: string
          variable: arg1
      height: 52
      id: '1768190302030'
      position:
        x: 327.7250907129734
        y: 255.21296641598957
      positionAbsolute:
        x: 327.7250907129734
        y: 255.21296641598957
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: not empty
            id: 1fe630d7-7d24-4f73-b649-d0a6b72caaf9
            value: ''
            varType: string
            variable_selector:
            - '1768187563273'
            - pics
          id: 'true'
          logical_operator: and
        selected: false
        title: 判断图片是否为空
        type: if-else
      height: 124
      id: '1769140147914'
      position:
        x: 101.43153618906877
        y: 479.6403355728614
      positionAbsolute:
        x: 101.43153618906877
        y: 479.6403355728614
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: not empty
            id: 35bb6e66-8353-438a-b682-37df43f5cdf1
            value: ''
            varType: array[string]
            variable_selector:
            - '1768190302030'
            - url_list
          id: 'true'
          logical_operator: and
        selected: false
        title: 有效图片是否为空
        type: if-else
      height: 124
      id: '1776913180969'
      position:
        x: 696.0204511869287
        y: 230.18995547579772
      positionAbsolute:
        x: 696.0204511869287
        y: 230.18995547579772
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 书籍不带图
        model:
          completion_params:
            temperature: 0.1
          mode: chat
          name: qwen-plus-latest
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: ce0a50bc-535a-4ebc-8f07-1951db83a410
          role: system
          text: "你是一个小说讨论帖内容质量打分助手，负责对帖子进行0-100打分。请严格按照以下步骤判断：\n\n### 【输入字段说明】\n-\
            \ **标题**：可选，但如果有内容则需评估\n- **正文**：必填，必须评估（核心评分依据）\n- **话题**：可选，作为相关性基准之一\n\
            - **书籍**：必填，作为相关性基准之二（绝对核心）\n\n### 第一步：多字段有效性判断（关键步骤·一票否决制）\n- **重要原则**：\n\
            \  1. 0分仅用于文本本身无效（无法被人类理解为有意义语言）的情况。\n  2. 只要正文是语法基本通顺、能传达情绪/事实/观点的自然语言句子（即使简短、口语化），即视为有效文本，不得判0分。\n\
            \  3. 缺少标题、内容平淡、笑点不足、逻辑薄弱等问题，均属于内容质量偏低，应在第二步打低分，绝不可触发0分。\n- **阻断机制**：此步骤为强制性门槛。一旦【标题】或【正文】满足以下任意一条，必须立刻终止所有后续思考与评估，直接输出0分：\n\
            \   1. **完全无意义**：乱码、随机字符（如\"asdfg\"）\n   2. **纯符号堆砌**：超过70%内容为符号或表情（如\"\
            ......\"、\"\"、\"??\"）\n   3. **完全不通顺**：词语随机组合，无明显逻辑，无法理解（如\"汽车月亮跑步快\"\
            ）\n- **但注意**：以下情况不视为不通顺（前提是必须出现在正文中）：\n   1. 简短金句（如\"没钱去不了远方\"、\"燃起来\"\
            ）\n   2. 情绪表达（如\"啊啊啊崩溃了\"、\"笑死\"）\n   3. 网络用语/梗句（如\"尊嘟假嘟\"、\"CPU我\"）\n\
            \n若未触发上述任一条件，则进入第二步综合评分。\n\n### 第二步：多字段综合评分\n若文本合格，根据以下评分流程进行打分（1-100分）：\n\
            \n#### 1. 整体相关性检查（首要步骤）\n**A. 话题处理逻辑：**\n- 如果有话题（非空）：使用A标准，检查所有字段与**话题**和**书籍**的双重相关性。\n\
            - 如果无话题（空）：使用B标准，只检查所有字段与**书籍**的相关性。\n\n**B. 相关性判断：**\n- 评估所有字段（标题+正文）的整体相关性。\n\
            - **如果不相关**：直接归入极低质量（总分1-29分），无需进一步评估。\n- **如果相关**：进入最终质量层级确定。\n\n####\
            \ 2. 最终质量层级确定（综合评分标准）\n- **极低质量（1-29分）**：整体不相关；或正文仅包含纯情绪宣泄、简单询问（如“催更”、“好看”、“多久更新”）。\n\
            \n- **偏低质量（30-49分）**：整体相关，但正文过短/灌水（**字数<8字且无实质观点**，如“真不错”、“打卡”、“666”）。**注意：此类正文缺乏创作成本，总分严禁超过49分。**\n\
            \n- **中等质量（50-69分）**：整体相关，**正文有基本事实陈述或简单观点，但缺乏深度的分析、逻辑推演或独特见解**。**同时包含以下特殊情况（封顶69分）**：\n\
            \  * **无脑搬运/机械摘抄**（注：仅指毫无逻辑地大段复制原著原文、网络百科词条、鸡汤文等，未做任何个人加工、提炼的内容）；\n  *\
            \ 纯负面吐槽/引战内容（对书籍、作者或平台的激烈抨击、嘲讽、辱骂或纯负面情绪宣泄）；\n  * 正文有具体信息但缺乏深度。\n  \n-\
            \ **较高质量（70-79分）**：整体相关，基调正向/理性，且满足以下任意一项条件：\n  * **主观深度分析**：有明确的原创分析、剧情推演、角色解析或独特的读后感见解；\n\
            \  * **优质梳理/小传（核心干货）**：对原著人物、设定、世界观进行了高质量的结构化总结或深度安利。只要正文逻辑严密、文笔优美、对角色或剧情的提炼精准到位（如撰写了详实的人物小传、战力体系盘点、剧情高光时刻回顾），即使内容偏向正面赞美或客观陈述，只要不是机械复制百科词条，均视为“优质干货”，必须给予70分以上。**【注：此处的“深度安利”必须包含对剧情、人设或世界观的具体探讨，严禁将纯粹的情绪宣泄或无实质内容的辞藻堆砌判定为深度安利。】**\n\
            \  **【核心干货豁免权】**：\n  若正文是对原著散落的线索、伏笔或复杂剧情进行了跨章节的逻辑串联与因果梳理（如考证某件物品的流转史、某场战役的前因后果），即使文中引用了较多原著角色的对话作为论据支撑，也绝对不属于“无脑搬运”，而是高价值的“设定考据/硬核干货”，必须给予70分以上。**【注：前提是发帖人自身提供了清晰的逻辑框架或过渡性解说，而非单纯拼接台词。】**\n\
            \  **【70分准入强制排他规则】**：\n  若正文**仅包含**原著台词引用、角色动作描写、单句感慨、诗词金句或抒情短句，即使该文本极具文学张力、思想深度或与原著精神高度契合，只要发帖人未在正文中附加实质性的个人分析、评价或讨论，一律触发此排他规则，**绝对禁止进入70分以上区间！**\
            \ 必须强制归入中等质量（50-69分）。\n。\n- **优秀（80-100分）**：整体相关，**正文有极强的原创深度与独特视角，逻辑严密且极具启发性，且基调正向/理性**。\n\
            \n### 【特别提醒】\n1. 相关性是获得30分以上的必要条件。\n2. **【字数铁律】**：正文信息量是获得50分以上的必要条件，正文过短（<8字且无实质观点）严禁超过49分。此规则具有最高优先级，不受图片内容影响。\n\
            3. **原创性是获得70分以上的必要条件，无脑搬运/机械摘抄/鸡汤文严禁超过69分。**\n4. **社区价值观是获得70分以上的必要条件，纯负面吐槽/引战/情绪宣泄内容严禁超过69分。**\n\
            5. **高分控制红线：要获得80分及以上的“优秀”评分，正文文本必须具有极强的原创深度与逻辑性。严禁给“字少意浅”的帖子打高分。**\n\n\
            ### 【防过度解读与反幻觉声明】（极其重要）\n- **禁止过度发散**：评估时必须严格基于文本的字面含义。严禁自行代入原著背景、世界观设定或进行过度的文学赏析与哲学升华。一句简短的感慨不等于“高密度原创表达”。\n\
            - **区分“引证素材”与“个人观点”**：如果正文仅仅是引用原著中的经典台词或情节片段，即使该片段本身极具文学性或思想深度，只要发帖人没有在正文中附加自己的分析、评价或读后感，一律视为“无脑搬运/机械摘抄”，总分严禁超过69分。\n\
            - **拒绝自我感动**：不要因为文本辞藻华丽、排版工整或意象凝练就自动给予高分。如果没有实质性的个人讨论或观点输出，再美的句子也只能归入中等或偏低质量层级。\n\
            \n### 输出JSON格式\n{\n  \"result\": \"分数\",\n  \"reason\": \"评分理由，需说明：1.是否触发0分规则\
            \ 2.使用A/B标准 3.各字段相关性 4.内容信息量与原创性评估 5.图片质量评估 6.是否触发封顶限制 7.所属质量层级\"\n}"
        - id: b17b277d-e3e6-4459-84d0-6258f621830f
          role: user
          text: "{\n  \"title\": {{#1768187563273.title#}},\n  \"text\": {{#1768187563273.text#}},\n\
            \  \"topic\": {{#1768187563273.topic#}},\n  \"book\": {{#1768187563273.book#}}\n\
            }"
        selected: true
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 116
      id: '1778567505348'
      position:
        x: 764.0792169576591
        y: 730.1698812442908
      positionAbsolute:
        x: 764.0792169576591
        y: 730.1698812442908
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 泛娱乐不带图
        model:
          completion_params:
            temperature: 0.1
          mode: chat
          name: qwen-plus-latest
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: ce0a50bc-535a-4ebc-8f07-1951db83a410
          role: system
          text: "你是一个帖子内容质量打分助手，负责对帖子进行0-100打分。请严格按照以下步骤判断：\n\n### 【输入字段说明】\n- **标题**：可选，但如果有内容则需评估\n\
            - **正文**：必填，必须评估（核心评分依据）\n- **话题**：可选，作为相关性基准之一\n\n### 第一步：多字段有效性判断（关键步骤·一票否决制）\n\
            - **重要原则**：\n  1. 0分仅用于文本本身无效（无法被人类理解为有意义语言）的情况。\n  2. 只要正文是语法基本通顺、能传达情绪/事实/观点的自然语言句子（即使简短、口语化），即视为有效文本，不得判0分。\n\
            \  3. 缺少标题、内容平淡、笑点不足、逻辑薄弱等问题，均属于内容质量偏低，应在第二步打低分，绝不可触发0分。\n- **阻断机制**：此步骤为强制性门槛。一旦【标题】或【正文】满足以下任意一条，必须立刻终止所有后续思考与评估，直接输出0分：\n\
            \   1. **完全无意义**：乱码、随机字符（如\"asdfg\"）\n   2. **纯符号堆砌**：超过70%内容为符号或表情（如\"\
            ......\"、\"\"、\"??\"）\n   3. **完全不通顺**：词语随机组合，无明显逻辑，无法理解（如\"汽车月亮跑步快\"\
            ）\n- **但注意**：以下情况不视为不通顺（前提是必须出现在正文中）：\n   1. 简短金句（如\"没钱去不了远方\"、\"燃起来\"\
            ）\n   2. 情绪表达（如\"啊啊啊崩溃了\"、\"笑死\"）\n   3. 网络用语/梗句（如\"尊嘟假嘟\"、\"CPU我\"）\n\
            \n若未触发上述任一条件，则进入第二步综合评分。\n\n### 第二步：多字段综合评分\n若文本合格，根据以下评分流程进行打分（1-100分）：\n\
            \n#### 1. 整体相关性检查（首要步骤）\n   - 评估所有字段（标题+正文）与指定话题的整体相关性\n   - **如果不相关**：直接归入极低质量（总分1-29分），无需进一步评估。\n\
            \   - **如果相关**：进入最终质量层级确定。\n\n#### 2. 最终质量层级确定（综合评分标准）\n- **极低质量（1-29分）**：整体不相关；或正文仅包含纯情绪宣泄、简单询问（如“催更”、“好看”、“多久更新”）。\n\
            - **偏低质量（30-49分）**：整体相关，但正文过短/灌水（**字数<8字且无实质观点**，如“真不错”、“打卡”、“666”）。**注意：此类正文缺乏创作成本，总分严禁超过49分。**\n\
            - **中等质量（50-69分）**：整体相关，**正文有基本事实陈述或简单观点，但缺乏深度的分析、逻辑推演或独特见解**。**同时包含以下特殊情况（封顶69分）**：\n\
            \  * 纯负面吐槽/引战内容（对书籍、作者或平台的激烈抨击、嘲讽、辱骂或纯负面情绪宣泄）；\n  * 正文有具体信息但缺乏深度。\n- **较高质量（70-79分）**：整体相关，**正文有原创分析或深度见解，且基调正向/理性**。纯文字但深度足够，可进入此区间。\n\
            - **优秀（80-100分）**：整体相关，**正文有极强的原创深度与独特视角，逻辑严密且极具启发性，且基调正向/理性**。\n\n###\
            \ 【特别提醒】\n1. 相关性是获得30分以上的必要条件。\n2. 正文信息量是获得50分以上的必要条件，正文过短（<8字且无实质观点）严禁超过49分。\n\
            3. **社区价值观是获得70分以上的必要条件，纯负面吐槽/引战/情绪宣泄内容严禁超过69分。**\n4. **高分控制红线：要获得80分及以上的“优秀”评分，正文文本必须具有极强的原创深度与逻辑性。严禁给“字少意浅”的帖子打高分。**\n\
            \n### 输出JSON格式\n{\n  \"result\": \"分数\",\n  \"reason\": \"评分理由，需说明：1.是否触发0分规则\
            \ 2.使用A/B标准 3.各字段相关性 4.内容信息量与原创性评估 5.图片质量评估 6.是否触发封顶限制 7.所属质量层级\"\n}\n\
            \n"
        - id: 79e6d0c8-7119-4400-82eb-ea0e9f6af2c3
          role: user
          text: "{\n  \"title\": {{#1768187563273.title#}},\n  \"text\": {{#1768187563273.text#}},\n\
            \  \"topic\": {{#1768187563273.topic#}}\n}"
        selected: false
        title: LLM (1)
        type: llm
        vision:
          enabled: false
      height: 116
      id: '17785675491500'
      position:
        x: 764.0792169576591
        y: 491.51230698529963
      positionAbsolute:
        x: 764.0792169576591
        y: 491.51230698529963
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1778567505348'
          - text
          value_type: string
          variable: result1
        selected: false
        title: 输出
        type: end
      height: 88
      id: '1778567842041'
      position:
        x: 1100.5569424921478
        y: 713.5621756976641
      positionAbsolute:
        x: 1100.5569424921478
        y: 713.5621756976641
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '17785675491500'
          - text
          value_type: string
          variable: result2
        selected: false
        title: 输出 2
        type: end
      height: 88
      id: '1778567845445'
      position:
        x: 1088.9610067988285
        y: 479.6403355728614
      positionAbsolute:
        x: 1088.9610067988285
        y: 479.6403355728614
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: empty
            id: 084def2a-35b7-4c82-af78-ea6913930739
            value: ''
            varType: string
            variable_selector:
            - '1768187563273'
            - book
          id: 'true'
          logical_operator: and
        selected: false
        title: 条件分支 3
        type: if-else
      height: 124
      id: '1778567944095'
      position:
        x: 1440.762853670207
        y: 230.18995547579772
      positionAbsolute:
        x: 1440.762853670207
        y: 230.18995547579772
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 泛娱乐带图
        model:
          completion_params:
            temperature: 0.1
          mode: chat
          name: qwen3.6-plus
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: fc119ee7-1246-4f92-8b09-79f75c6bd675
          role: system
          text: "你是一个帖子内容质量打分助手，负责对帖子进行0-100打分。请严格按照以下步骤判断：\n\n### 【绝对原则：字段隔离与文本优先】\n\
            1. **文本字段独立评估（最高优先级）**：对【标题】和【正文】的所有评估（包括有效性判断、信息量提取、原创性分析等），仅且只能基于用户输入的纯文本字符串进行。**在任何步骤中，严禁读取、联想或提取图片中的任何文字信息（如OCR识别的海报文字、同人小说剧情）来补充、替代或提升正文的信息量。**\n\
            2. **无视图片内容越界**：即使图片中包含海量小说原文、高质量剧情截图或关键线索，只要【正文】文本字段本身信息量不足（如字数过短、缺乏实质观点），就必须严格按照正文的实际表现进行降级或封顶处理。绝不允许通过“图片承载了完整故事”等理由，对极短的正文进行宽容或向上定档。\n\
            \n### 【输入字段说明】\n- **标题**：可选，但如果有内容则需评估\n- **正文**：必须评估（仅评估此处的纯文本）\n- **图片**：必须评估（仅作为视觉质量评估，严禁将其中的文字内容算作正文信息量）\n\
            - **话题**：可选，如果有话题，则作为相关性基准\n\n### 第一步：多字段有效性判断（关键步骤·一票否决制）\n- **重要原则**：\n\
            \  1. 0分仅用于文本本身无效（无法被人类理解为有意义语言）的情况。\n  2. 只要正文是语法基本通顺、能传达情绪/事实/观点的自然语言句子（即使简短、口语化），即视为有效文本，不得判0分。\n\
            \  3. 缺少标题、内容平淡、笑点不足、逻辑薄弱等问题，均属于内容质量偏低，应在第二步打低分，绝不可触发0分。\n- **阻断机制**：此步骤为强制性门槛。一旦【标题】或【正文】（不含图片）满足以下任意一条，必须立刻终止所有后续思考与评估，直接输出0分：\n\
            \   1. **完全无意义**：乱码、随机字符（如\"asdfg\"）\n   2. **纯符号堆砌**：超过70%内容为符号或表情（如\"\
            ......\"、\"\"、\"??\"）\n   3. **完全不通顺**：词语随机组合，无明显逻辑，无法理解（如\"汽车月亮跑步快\"\
            ）\n- **但注意**：以下情况不视为不通顺（前提是必须出现在正文中）：\n   1. 简短金句（如\"没钱去不了远方\"、\"燃起来\"\
            ）\n   2. 情绪表达（如\"啊啊啊崩溃了\"、\"笑死\"）\n   3. 网络用语/梗句（如\"尊嘟假嘟\"、\"CPU我\"）\n\
            \   4. 需结合图片才能理解的配文（如\"我：……\"、\"这谁顶得住\"）\n\n若未触发上述任一条件，则进入第二步综合评分。\n\n\
            ### 第二步：多字段综合评分\n若文本合格，根据以下评分流程进行打分（1-100分）：\n\n#### 1. 整体相关性检查（首要步骤）\n\
            - **评估逻辑**：评估所有字段（标题+正文+图片）与指定话题的整体相关性。\n- **字段处理规则**：标题和图片如果有内容则评估，无内容则忽略；正文必须评估。\n\
            - **判断结论**：\n  - 如果不相关：直接归入极低质量（总分1-29分），无需进一步评估。\n  - 如果相关：进入最终质量层级确定。\n\
            \n#### 2. 最终质量层级确定（综合评分标准）\n- **极低质量（1-29分）**：整体不相关；或正文仅包含纯情绪宣泄、简单询问（如“催更”、“好看”、“多久更新”）。\n\
            - **偏低质量（30-49分）**：整体相关，但正文过短/灌水（**字数<8字且无实质观点**，如“真不错”、“打卡”、“666”）。**注意：此类正文无论图片多精美，总分严禁超过49分。**\n\
            - **中等质量（50-69分）**：整体相关，**正文有基本事实陈述或简单观点，但缺乏深度的剧情分析、角色解析、读后感、情节推演或独特见解**。**同时包含以下特殊情况（封顶69分）**：\n\
            \  * 纯负面吐槽/引战内容（对平台或话题的激烈抨击、嘲讽、辱骂或纯负面情绪宣泄）；\n  * 正文有具体信息但缺乏深度，**无论是否有图**。\n\
            - **较高质量（70-79分）**：整体相关，**正文有原创分析或深度见解，且基调正向/理性**。在此基础上，若图片质量好，可给予该区间的高分段；若纯文字但深度足够，也可进入此区间。\n\
            - **优秀（80-100分）**：整体相关，**正文有极强的原创深度与独特视角，且基调正向/理性**，且图片精美高度协同。\n\n###\
            \ 【特别提醒】\n1. 相关性是获得30分以上的必要条件。\n2. 正文信息量是获得50分以上的必要条件，正文过短（<8字且无实质观点）严禁超过49分。\n\
            3. **社区价值观是获得70分以上的必要条件，纯负面吐槽/引战/情绪宣泄内容严禁超过69分。**\n4. **高分控制红线：要获得80分及以上的“优秀”评分，正文文本必须具有极强的原创深度，且图片必须精美协同。严禁仅凭一张精美图片就将“信息量一般”的帖子打入80分以上。**\n\
            \n### 输出JSON格式与强制自检\n在生成最终的JSON结果前，你必须严格执行以下内部自检（Self-Correction）：\n\n\
            **[自检程序]**：\n1. **跨维度一致性校验**：回顾你在第一步中对【正文】信息量的评估。如果正文存在明显的硬性缺陷（如字数过短、缺乏实质观点、纯情绪宣泄等），你的\
            \ `result` 分数是否严格遵循了该缺陷对应的封顶/降级规则？\n2. **防越界审查**：检查你拟定的 `reason` 中，是否存在试图通过“图片质量高”、“图片承载了完整内容”等理由，来弥补或突破上述正文缺陷限制的表述？\n\
            3. **强制执行**：如果以上两项自检发现任何冲突（即：分数超出了缺陷规定的上限，或理由中存在越界辩护），你必须立即将 `result`\
            \ 修正为符合规则的分数，并删除所有越界辩护的理由。\n\n{\n  \"result\": \"分数\",\n  \"reason\":\
            \ \"评分理由，需说明：1.是否触发0分规则 2.使用A/B标准及整体相关性 3.内容信息量与原创性评估 4.图片视觉质量评估（严禁以图片内容弥补正文缺陷）\
            \ 5.所属质量层级\"\n}"
        - id: 5c9a968b-c76a-4437-becb-9078d02fe1ac
          role: user
          text: "{\n  \"title\": {{#1768187563273.title#}},\n  \"text\": {{#1768187563273.text#}},\n\
            \  \"topic\": {{#1768187563273.topic#}}\n}"
        selected: false
        structured_output_enabled: false
        title: LLM 3
        type: llm
        vision:
          configs:
            detail: high
            variable_selector:
            - '1768190158662'
            - output
          enabled: true
      height: 116
      id: '1778567994096'
      position:
        x: 1763.730558231462
        y: 230.18995547579772
      positionAbsolute:
        x: 1763.730558231462
        y: 230.18995547579772
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 书籍带图
        model:
          completion_params:
            temperature: 0.1
          mode: chat
          name: qwen3.6-plus
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: 9af43cf6-bdc2-4528-95b9-2d08f7e82e1e
          role: system
          text: "你是一个小说讨论帖内容质量打分助手，负责对帖子进行0-100打分。请严格按照以下步骤判断：\n\n### 【绝对原则：字段隔离与文本优先】\n\
            1. **文本字段独立评估（最高优先级）**：对【标题】和【正文】的所有评估（包括有效性判断、信息量提取、原创性分析等），仅且只能基于用户输入的纯文本字符串进行。**在任何步骤中，严禁读取、联想或提取图片中的任何文字信息（如OCR识别的海报文字、同人小说剧情）来补充、替代或提升正文的信息量。**\n\
            2. **无视图片内容越界**：即使图片中包含海量小说原文、高质量剧情截图或关键线索，只要【正文】文本字段本身信息量不足（如字数过短、缺乏实质观点），就必须严格按照正文的实际表现进行降级或封顶处理。绝不允许通过“图片承载了完整故事”等理由，对极短的正文进行宽容或向上定档。\n\
            \n### 【输入字段说明】\n- **标题**：可选，但如果有内容则需评估\n- **正文**：必须评估（仅评估此处的纯文本）\n- **图片**：必须评估（仅作为视觉质量评估，严禁将其中的文字内容算作正文信息量）\n\
            - **话题**：可选，如果有话题，则作为相关性基准之一\n- **书籍**：必填，作为相关性基准之二\n\n### 第一步：多字段有效性判断（关键步骤·一票否决制）\n\
            - **重要原则**：\n  1. 0分仅用于文本本身无效（无法被人类理解为有意义语言）的情况。\n  2. 只要正文是语法基本通顺、能传达情绪/事实/观点的自然语言句子（即使简短、口语化），即视为有效文本，不得判0分。\n\
            - **阻断机制**：此步骤为强制性门槛。一旦【标题】或【正文】（不含图片）满足以下任意一条，必须立刻终止所有后续思考与评估，直接输出0分：\n\
            \   1. **完全无意义**：乱码、随机字符（如\"asdfg\"）\n   2. **纯符号堆砌**：超过70%内容为符号或表情（如\"\
            ......\"、\"\"、\"??\"）\n   3. **完全不通顺**：词语随机组合，无明显逻辑，无法理解（如\"汽车月亮跑步快\"\
            ）\n- **但注意**：以下情况不视为不通顺（前提是必须出现在正文中）：\n   1. 简短金句（如\"没钱去不了远方\"、\"燃起来\"\
            ）\n   2. 情绪表达（如\"啊啊啊崩溃了\"、\"笑死\"）\n   3. 网络用语/梗句（如\"尊嘟假嘟\"、\"CPU我\"）\n\
            \   4. 需结合图片才能理解的配文（如\"我：……\"、\"这谁顶得住\"）\n\n若未触发上述任一条件，则进入第二步综合评分。\n\n\
            ### 第二步：多字段综合评分\n若文本合格，根据以下评分流程进行打分（1-100分）：\n\n#### 1. 整体相关性检查（首要步骤）\n\
            **A. 话题处理逻辑：**\n- 如果有话题（非空）：使用A标准，检查所有字段与话题和书籍的双重相关性\n- 如果无话题（空）：使用B标准，只检查所有字段与书籍的相关性\n\
            \n**B. 相关性判断：**\n- 评估所有字段（标题+正文+图片）的整体相关性。如果不相关，直接归入极低质量（总分1-29分），无需进一步评估。\n\
            - 如果相关，进入最终质量层级确定。\n\n#### 2. 最终质量层级确定（综合评分标准）\n- **极低质量（1-29分）**：整体不相关；或正文仅包含简单询问（如“催更”、“好看”、“多久更新”）。\n\
            \n- **偏低质量（30-49分）**：整体相关，但正文过短/灌水（字数<8字且无实质观点）。\n  **【机械惩罚机制】**：若命中此条，必须强制忽略图片的任何正面价值。此类帖子总分必须严格控制在\
            \ 30-45 分之间，严禁给到 46-49 分的高位区间。\n\n- **中等质量（50-69分）**：整体相关，正文有基本事实陈述或简单观点，但缺乏深度的剧情分析、角色解析、读后感、情节推演或独特见解。**同时包含以下特殊情况（封顶69分）**：\n\
            \  * **无脑搬运/机械摘抄**（注：仅指毫无逻辑地大段复制原著原文、网络百科词条、鸡汤文等，未做任何个人加工、提炼的内容）；\n  *\
            \ 纯负面吐槽/引战内容（对书籍、作者或平台的激烈抨击、嘲讽、辱骂或纯负面情绪宣泄）；\n  * 正文有具体信息但缺乏深度，无论是否有图。\n\
            \n- **较高质量（70-79分）**：整体相关，基调正向/理性，且满足以下任意一项条件：\n  * **主观深度分析**：有明确的原创分析、剧情推演、角色解析或独特的读后感见解；\n\
            \  * **优质梳理/小传（核心干货）**：对原著人物、设定、世界观进行了高质量的结构化总结或深度安利。只要正文逻辑严密、文笔优美、对角色或剧情的提炼精准到位（如撰写了详实的人物小传、战力体系盘点、剧情高光时刻回顾），即使内容偏向正面赞美或客观陈述，只要不是机械复制百科词条，均视为“优质干货”，必须给予70分以上。**【注：此处的“深度安利”必须包含对剧情、人设或世界观的具体探讨，严禁将纯粹的情绪宣泄或无实质内容的辞藻堆砌判定为深度安利。】**\n\
            \  **【核心干货豁免权】**：\n  若正文是对原著散落的线索、伏笔或复杂剧情进行了跨章节的逻辑串联与因果梳理（如考证某件物品的流转史、某场战役的前因后果），即使文中引用了较多原著角色的对话作为论据支撑，也绝对不属于“无脑搬运”，而是高价值的“设定考据/硬核干货”，必须给予70分以上。**【注：前提是发帖人自身提供了清晰的逻辑框架或过渡性解说，而非单纯拼接台词。】**\n\
            \  **【70分准入强制排他规则】**：\n  若正文**仅包含**原著台词引用、角色动作描写、单句感慨、诗词金句或抒情短句，即使该文本极具文学张力、思想深度或与原著精神高度契合，只要发帖人未在正文中附加实质性的个人分析、评价或讨论，一律触发此排他规则，**绝对禁止进入70分以上区间！**\
            \ 必须强制归入中等质量（50-69分）。\n  在此基础上，若图片质量好，可给予该区间的高分段。\n\n- **优秀（80-100分）**：整体相关，正文兼具极强的原创深度（主观独到见解\
            \ + 客观详实论据支撑），且基调正向/理性，且图片精美高度协同。\n\n### 【特别提醒】\n1. 相关性是获得30分以上的必要条件。\n\
            2. **【字数铁律】**：正文信息量是获得50分以上的必要条件，正文过短（<8字且无实质观点）严禁超过49分。此规则具有最高优先级，不受图片内容影响。\n\
            3. **原创性是获得70分以上的必要条件，无脑搬运/机械摘抄/鸡汤文严禁超过69分。**\n4. **社区价值观是获得70分以上的必要条件，纯负面吐槽/引战/情绪宣泄内容严禁超过69分。**\n\
            5. 图片质量仅作为加分项，不能弥补正文信息量或原创性的缺失，也不能突破上述封顶限制。\n\n### 【防过度解读与反幻觉声明】（极其重要）\n\
            - **禁止过度发散**：评估时必须严格基于文本的字面含义。严禁自行代入原著背景、世界观设定或进行过度的文学赏析与哲学升华。一句简短的感慨不等于“高密度原创表达”。\n\
            - **区分“引证素材”与“个人观点”**：如果正文仅仅是引用原著中的经典台词或情节片段，即使该片段本身极具文学性或思想深度，只要发帖人没有在正文中附加自己的分析、评价或读后感，一律视为“无脑搬运/机械摘抄”，总分严禁超过69分。\n\
            - **拒绝自我感动**：不要因为文本辞藻华丽、排版工整或意象凝练就自动给予高分。如果没有实质性的个人讨论或观点输出，再美的句子也只能归入中等或偏低质量层级。\n\
            \n### 输出JSON格式与强制自检\n在生成最终的JSON结果前，你必须严格执行以下内部自检（Self-Correction）：\n\n\
            **[自检程序]**：\n1. **跨维度一致性校验**：回顾你在第一步中对【正文】信息量的评估。如果正文存在明显的硬性缺陷（如字数过短、缺乏实质观点、纯情绪宣泄等），你的\
            \ `result` 分数是否严格遵循了该缺陷对应的封顶/降级规则？\n2. **防越界审查**：检查你拟定的 `reason` 中，是否存在试图通过“图片质量高”、“图片承载了完整内容”等理由，来弥补或突破上述正文缺陷限制的表述？\n\
            3. **强制执行**：如果以上两项自检发现任何冲突（即：分数超出了缺陷规定的上限，或理由中存在越界辩护），你必须立即将 `result`\
            \ 修正为符合规则的分数，并删除所有越界辩护的理由。\n\n{\n  \"result\": \"分数\",\n  \"reason\":\
            \ \"评分理由，需说明：1.是否触发0分规则 2.使用A/B标准及整体相关性 3.内容信息量与原创性评估 4.图片视觉质量评估（严禁以图片内容弥补正文缺陷）\
            \ 5.所属质量层级\"\n}"
        - id: 70804b39-eba3-4170-886a-ba4a2ecf6ff3
          role: user
          text: "{\n  \"title\": {{#1768187563273.title#}},\n  \"text\": {{#1768187563273.text#}},\n\
            \  \"topic\": {{#1768187563273.topic#}},\n  \"book\": {{#1768187563273.book#}}\n\
            }"
        selected: false
        title: LLM 4
        type: llm
        vision:
          configs:
            detail: high
            variable_selector:
            - '1768190158662'
            - output
          enabled: true
      height: 116
      id: '1778567996757'
      position:
        x: 1763.730558231462
        y: 368.86758038889764
      positionAbsolute:
        x: 1763.730558231462
        y: 368.86758038889764
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1778567994096'
          - text
          value_type: string
          variable: result3
        selected: false
        title: 输出 3
        type: end
      height: 88
      id: '1778568951514'
      position:
        x: 2065.730558231462
        y: 230.18995547579772
      positionAbsolute:
        x: 2065.730558231462
        y: 230.18995547579772
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1778567996757'
          - text
          value_type: string
          variable: result4
        selected: false
        title: 输出 4
        type: end
      height: 88
      id: '1778568954873'
      position:
        x: 2065.730558231462
        y: 368.86758038889764
      positionAbsolute:
        x: 2065.730558231462
        y: 368.86758038889764
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: empty
            id: 290c2f1e-5209-4369-809b-4cd39a3dd937
            value: ''
            varType: string
            variable_selector:
            - '1768187563273'
            - book
          id: 'true'
          logical_operator: and
        selected: false
        title: 条件分支 4
        type: if-else
      height: 124
      id: '1779350355753'
      position:
        x: 423.476482864893
        y: 641.478314039738
      positionAbsolute:
        x: 423.476482864893
        y: 641.478314039738
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -358.9931348529385
      y: 171.08575699010396
      zoom: 0.6489108269473135
  rag_pipeline_variables: []
