dify 工作流/社区评论质量评分-书章段评版-prompt-version.yml
---
app:
  description: 针对书评、章评、段评纯文字评论进行质量与情绪打标，支持按 prompt_version 路由不同 Prompt 版本
  icon: "\U0001F9E9"
  icon_background: "#E0F2FE"
  mode: workflow
  name: 社区评论质量评分-书章段评版（Prompt Version 路由）
  use_icon_as_answer_icon: false
dependencies:
- current_identifier:
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tongyi:0.1.43@c56cb5159e37b2719559550518312773bb08e11baaf5b791cccf472d272b5438
    version:
kind: app
version: 0.5.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions: []
      allowed_file_types: []
      allowed_file_upload_methods: []
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 600
        batch_count_limit: 5
        file_size_limit: 600
        image_file_batch_limit: 10
        image_file_size_limit: 600
        single_chunk_attachment_limit: 10
        video_file_size_limit: 600
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods: []
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: code
      id: 1781000000001-source-1781000000002-target
      selected: false
      source: '1781000000001'
      sourceHandle: source
      target: '1781000000002'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 1781000000002-source-1781000000003-target
      selected: false
      source: '1781000000002'
      sourceHandle: source
      target: '1781000000003'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: if-else
      id: 1781000000003-true-1781000000040-target
      selected: false
      source: '1781000000003'
      sourceHandle: 'true'
      target: '1781000000040'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: if-else
      id: 1781000000003-false-1781000000004-target
      selected: false
      source: '1781000000003'
      sourceHandle: 'false'
      target: '1781000000004'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: if-else
      id: 1781000000004-true-1781000000041-target
      selected: false
      source: '1781000000004'
      sourceHandle: 'true'
      target: '1781000000041'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: if-else
      id: 1781000000004-false-1781000000042-target
      selected: false
      source: '1781000000004'
      sourceHandle: 'false'
      target: '1781000000042'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1781000000040-true-1781000000043-target
      selected: false
      source: '1781000000040'
      sourceHandle: 'true'
      target: '1781000000043'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1781000000040-false-1781000000010-target
      selected: false
      source: '1781000000040'
      sourceHandle: 'false'
      target: '1781000000010'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1781000000041-true-1781000000044-target
      selected: false
      source: '1781000000041'
      sourceHandle: 'true'
      target: '1781000000044'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1781000000041-false-1781000000020-target
      selected: false
      source: '1781000000041'
      sourceHandle: 'false'
      target: '1781000000020'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1781000000042-true-1781000000045-target
      selected: false
      source: '1781000000042'
      sourceHandle: 'true'
      target: '1781000000045'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1781000000042-false-1781000000030-target
      selected: false
      source: '1781000000042'
      sourceHandle: 'false'
      target: '1781000000030'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1781000000010-source-1781000000011-target
      selected: false
      source: '1781000000010'
      sourceHandle: source
      target: '1781000000011'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: end
      id: 1781000000011-source-1781000000012-target
      selected: false
      source: '1781000000011'
      sourceHandle: source
      target: '1781000000012'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1781000000043-source-1781000000046-target
      selected: false
      source: '1781000000043'
      sourceHandle: source
      target: '1781000000046'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: end
      id: 1781000000046-source-1781000000049-target
      selected: false
      source: '1781000000046'
      sourceHandle: source
      target: '1781000000049'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1781000000020-source-1781000000021-target
      selected: false
      source: '1781000000020'
      sourceHandle: source
      target: '1781000000021'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: end
      id: 1781000000021-source-1781000000022-target
      selected: false
      source: '1781000000021'
      sourceHandle: source
      target: '1781000000022'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1781000000044-source-1781000000047-target
      selected: false
      source: '1781000000044'
      sourceHandle: source
      target: '1781000000047'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: end
      id: 1781000000047-source-1781000000050-target
      selected: false
      source: '1781000000047'
      sourceHandle: source
      target: '1781000000050'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1781000000030-source-1781000000031-target
      selected: false
      source: '1781000000030'
      sourceHandle: source
      target: '1781000000031'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: end
      id: 1781000000031-source-1781000000032-target
      selected: false
      source: '1781000000031'
      sourceHandle: source
      target: '1781000000032'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1781000000045-source-1781000000048-target
      selected: false
      source: '1781000000045'
      sourceHandle: source
      target: '1781000000048'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: end
      id: 1781000000048-source-1781000000051-target
      selected: false
      source: '1781000000048'
      sourceHandle: source
      target: '1781000000051'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - default: 书评
          hint: 仅支持书评、章评、段评
          label: 评论类型
          max_length: 20
          options:
          - 书评
          - 章评
          - 段评
          placeholder: ''
          required: true
          type: select
          variable: comment_type
        - default: ''
          hint: 输入需要打标的纯文字评论内容
          label: 评论内容
          max_length: 4096
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: comment_content
        - default: V1
          hint: 服务端传入 Prompt 版本，默认 V1
          label: Prompt 版本
          max_length: 20
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: prompt_version
      height: 213
      id: '1781000000001'
      position:
        x: 80
        y: 322
      positionAbsolute:
        x: 80
        y: 322
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: |
          def main(prompt_version: str = "V1"):
              text = str(prompt_version or "").strip().upper()
              if text not in ("V1", "V2"):
                  text = "V1"
              return {
                  "prompt_version_normalized": text,
              }
        code_language: python3
        outputs:
          prompt_version_normalized:
            children:
            type: string
        selected: false
        title: 标准化 Prompt 版本
        type: code
        variables:
        - value_selector:
          - '1781000000001'
          - prompt_version
          value_type: string
          variable: prompt_version
      height: 52
      id: '1781000000002'
      position:
        x: 392
        y: 344
      positionAbsolute:
        x: 392
        y: 344
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: book-review-condition
            value: 书评
            varType: string
            variable_selector:
            - '1781000000001'
            - comment_type
          id: 'true'
          logical_operator: and
        selected: false
        title: 是否书评
        type: if-else
      height: 124
      id: '1781000000003'
      position:
        x: 704
        y: 344
      positionAbsolute:
        x: 704
        y: 344
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: chapter-comment-condition
            value: 章评
            varType: string
            variable_selector:
            - '1781000000001'
            - comment_type
          id: 'true'
          logical_operator: and
        selected: false
        title: 是否章评
        type: if-else
      height: 124
      id: '1781000000004'
      position:
        x: 1016
        y: 494
      positionAbsolute:
        x: 1016
        y: 494
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 书评 V1 评分 Prompt
        model:
          completion_params:
            temperature: 0.1
          mode: chat
          name: qwen-plus-latest
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: 1781000001010-system
          role: system
          text: |
            【Prompt 版本】V1
            你是一个书评内容质量与情绪打标助手。你只评估用户输入的纯文字评论内容，不评估图片、链接、昵称或外部上下文。

            【输入字段说明】
            - 评论类型：固定为“书评”
            - 评论内容：必填，需要评估的书评文本

            【综合质量评分】
            请根据以下维度综合给出0-100分的质量分数：
            1. 综合评价深度：是否涉及书籍情节的具体分析、人物性格发展和塑造、主题思想和价值意义，以及个人阅读感受和反思。
            2. 分析逻辑性：观点是否有理有据，是否引用或指向具体内容，论证是否连贯，逻辑是否清晰。
            3. 内容完整性：评价是否较全面，是否包含优缺点分析，是否有明确评价立场和评价标准。
            4. 表达质量：语句是否通顺，表达是否清晰，结构是否合理，用词是否准确并适合阅读场景。

            【质量评分标准】
            - 0分：空文本、纯乱码、完全不可理解。
            - 1-29分：极差，文本无意义、完全不相关、广告导流、纯灌水或表达严重混乱。
            - 30-49分：差，内容极其简单空洞，基本无评价价值，或表达有明显问题。
            - 50-69分：中等，内容基本完整，有一定观点或阅读感受，但不够深入。
            - 70-84分：良好，内容较丰富，观点明确，表达流畅，有一定分析深度。
            - 85-100分：优秀，内容深入全面，分析透彻，表达精炼有力，逻辑清晰。

            【特别说明】
            - 简单评价如“好看”“推荐”“一般”不判0分，通常给50-69分。
            - 无意义灌水、乱码、纯符号堆砌可给0-29分。
            - 书评通常比章评、段评更关注整体结构、分析深度和评价完整性。

            【情绪分析】
            请给出0-100分情绪分数：
            - 0-29分：明显负向，表达强烈不满、愤怒、失望、反感。
            - 30-79分：中性或混合情绪，包括客观陈述、轻微倾向、理性批评、情绪不明显。
            - 80-100分：明显正向，表达明确喜欢、认可、感动、兴奋或强烈推荐。
            情绪分数只表示文字情绪倾向，不代表内容质量。

            【输出格式】
            只输出严格JSON，不要输出Markdown，不要添加额外解释。不要输出quality_level或emotion_type，这两个字段由后续映射节点生成。
            {
              "quality_score": 0-100的整数,
              "quality_reason": "评分理由，需说明质量等级倾向和主要原因",
              "emotion_score": 0-100的整数
            }
        - id: 1781000001010-user
          role: user
          text: |
            {
              "comment_type": {{#1781000000001.comment_type#}},
              "comment_content": {{#1781000000001.comment_content#}}
            }
        selected: false
        structured_output_enabled: false
        title: 书评打分 Prompt V1
        type: llm
        vision:
          enabled: false
      height: 116
      id: '1781000000010'
      position:
        x: 1016
        y: 182
      positionAbsolute:
        x: 1016
        y: 182
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 章评 V1 评分 Prompt
        model:
          completion_params:
            temperature: 0.1
          mode: chat
          name: qwen-plus-latest
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: 1781000001020-system
          role: system
          text: |
            【Prompt 版本】V1
            你是一个章评内容质量与情绪打标助手。你只评估用户输入的纯文字评论内容，不评估图片、链接、昵称或外部上下文。

            【输入字段说明】
            - 评论类型：固定为“章评”
            - 评论内容：必填，需要评估的章评文本

            【综合质量评分】
            请根据以下维度综合给出0-100分的质量分数：
            1. 剧情讨论价值：是否针对章节具体情节展开讨论，是否有有价值的剧情分析或解读。
            2. 趣味互动性：是否有幽默、吐槽、玩梗等趣味表达，是否具有引发回复、点赞或讨论的潜力。
            3. 即时反应质量：是否体现阅读过程中的真实即时感受，是否贴合章节场景和氛围。
            4. 水评识别准确性：区分纯灌水和简单但有效的互动表达，避免把有趣的简短反应误判为无价值。

            【质量评分标准】
            - 0分：空文本、纯乱码、完全不可理解。
            - 1-29分：极差，纯灌水、无意义、广告导流、人身攻击，或与章节讨论完全无关。
            - 30-49分：差，内容极其简单，相关性弱，基本为水评但尚能理解意图。
            - 50-69分：中等，基本有趣或有讨论价值，与章节有一定关联但分析较浅。
            - 70-84分：良好，极具趣味性或剧情分析价值，高度贴合章节内容和氛围。
            - 85-100分：优秀，深度剧情分析或极强趣味互动，对章节有独到见解或强烈情感共鸣。

            【特别说明】
            - 简短但有趣的反应，如“笑死”“哈哈哈”“这反转绝了”，可给65-75分。
            - 网络用语、玩梗内容应适当包容，除非完全无意义。
            - 看似不严肃但能自然引发互动的章评，可以基于趣味性和互动价值加分。
            - 纯符号、重复刷屏、无意义灌水仍需低分。

            【情绪分析】
            请给出0-100分情绪分数：
            - 0-29分：明显负向，强烈吐槽、抱怨、失望、反感或攻击。
            - 30-79分：中性或混合情绪，包括客观评论、趣味吐槽、轻微倾向、情绪难分主次。
            - 80-100分：明显正向，表达明确喜爱、认可、激动、感动或强烈趣味互动。
            趣味吐槽可能是正向互动，不要简单判为负向。

            【输出格式】
            只输出严格JSON，不要输出Markdown，不要添加额外解释。不要输出quality_level或emotion_type，这两个字段由后续映射节点生成。
            {
              "quality_score": 0-100的整数,
              "quality_reason": "评分理由，需说明质量等级倾向和主要原因",
              "emotion_score": 0-100的整数
            }
        - id: 1781000001020-user
          role: user
          text: |
            {
              "comment_type": {{#1781000000001.comment_type#}},
              "comment_content": {{#1781000000001.comment_content#}}
            }
        selected: false
        structured_output_enabled: false
        title: 章评打分 Prompt V1
        type: llm
        vision:
          enabled: false
      height: 116
      id: '1781000000020'
      position:
        x: 1328
        y: 494
      positionAbsolute:
        x: 1328
        y: 494
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 段评 V1 评分 Prompt
        model:
          completion_params:
            temperature: 0.1
          mode: chat
          name: qwen-plus-latest
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: 1781000001030-system
          role: system
          text: |
            【Prompt 版本】V1
            你是一个段评内容质量与情绪打标助手。你只评估用户输入的纯文字评论内容，不评估图片、链接、昵称或外部上下文。

            【输入字段说明】
            - 评论类型：固定为“段评”
            - 评论内容：必填，需要评估的段评文本

            【综合质量评分】
            请根据以下维度综合给出0-100分的质量分数：
            1. 精炼有效性：内容是否简短但信息明确，表达是否清晰直接，是否在有限字数内表达完整意思。
            2. 水评准确识别：区分纯灌水和有效互动，避免对简单但有效的短表达过度降级。
            3. 即时性质量：是否体现阅读过程中的即时情绪反应，反应是否自然，是否贴合段落情感和氛围。

            【质量评分标准】
            - 0分：空文本、纯乱码、完全不可理解。
            - 1-29分：极差，纯水评、无意义符号堆砌、广告导流、人身攻击，或完全无关联。
            - 30-49分：差，内容简单空洞、相关性弱，基本为水评但有可理解意图。
            - 50-69分：中等，有基本互动意义，表达简单直接，有一定情绪或观点。
            - 70-84分：良好，精炼有力，互动价值较高，情绪或观点表达明确。
            - 85-100分：优秀，极具精炼性和互动价值，有精准反应、情感共鸣或亮点表达。

            【特别说明】
            - 段评通常很短，不应仅因简短而判低分。
            - 单个情绪词如“笑”“哭”“好”“顶”可能是有效互动，应根据表达完整度和互动价值判断。
            - 符号、表情、标点也是文本表达的一部分，但纯重复刷屏或无意义堆砌应低分。
            - 表面简单但能完整表达情绪或态度的段评，应给予合理分数。

            【情绪分析】
            请给出0-100分情绪分数：
            - 0-29分：明显负向，强烈失望、无语、反感、攻击或直接负面。
            - 30-79分：中性或混合情绪，包括平淡表达、疑问、轻微倾向、情绪不明显。
            - 80-100分：明显正向，开心、有趣、赞同、兴奋、感动或强烈认可。
            段评情绪往往直接、简短，需准确判断短词、标点和语气。

            【输出格式】
            只输出严格JSON，不要输出Markdown，不要添加额外解释。不要输出quality_level或emotion_type，这两个字段由后续映射节点生成。
            {
              "quality_score": 0-100的整数,
              "quality_reason": "评分理由，需说明质量等级倾向和主要原因",
              "emotion_score": 0-100的整数
            }
        - id: 1781000001030-user
          role: user
          text: |
            {
              "comment_type": {{#1781000000001.comment_type#}},
              "comment_content": {{#1781000000001.comment_content#}}
            }
        selected: false
        structured_output_enabled: false
        title: 段评打分 Prompt V1
        type: llm
        vision:
          enabled: false
      height: 116
      id: '1781000000030'
      position:
        x: 1328
        y: 644
      positionAbsolute:
        x: 1328
        y: 644
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: |
          import json
          import re

          def _extract_json(text):
              raw = (text or "").strip()
              if raw.startswith("```"):
                  raw = re.sub(r"^```(?:json|JSON)?\s*", "", raw)
                  raw = re.sub(r"\s*```$", "", raw)
              try:
                  return json.loads(raw)
              except Exception:
                  match = re.search(r"\{[\s\S]*\}", raw)
                  if match:
                      try:
                          return json.loads(match.group(0))
                      except Exception:
                          return {}
              return {}

          def _to_score(value, default=0):
              try:
                  score = int(float(str(value).strip()))
              except Exception:
                  return default
              return max(0, min(100, score))

          def _first_score(data, keys, raw, default=0):
              for key in keys:
                  if key in data:
                      return _to_score(data.get(key), default)
              for key in keys:
                  pattern = rf'"?{re.escape(key)}"?\s*[:：]\s*"?(\d+)'
                  match = re.search(pattern, raw or "")
                  if match:
                      return _to_score(match.group(1), default)
              return default

          def main(raw_text: str):
              data = _extract_json(raw_text)
              quality_score = _first_score(data, ["quality_score", "result", "score"], raw_text, 0)
              emotion_score = _first_score(data, ["emotion_score"], raw_text, 50)
              quality_reason = str(data.get("quality_reason") or data.get("reason") or "").strip()
              if not quality_reason:
                  quality_reason = "模型输出解析失败或理由为空，已按兜底规则处理。"

              return {
                  "quality_score": quality_score,
                  "quality_reason": quality_reason,
                  "emotion_score": emotion_score,
              }
        code_language: python3
        outputs:
          emotion_score:
            children:
            type: number
          quality_reason:
            children:
            type: string
          quality_score:
            children:
            type: number
        selected: false
        title: 解析输出（书评 V1）
        type: code
        variables:
        - value_selector:
          - '1781000000010'
          - text
          value_type: string
          variable: raw_text
      height: 52
      id: '1781000000011'
      position:
        x: 1640
        y: 100
      positionAbsolute:
        x: 1640
        y: 100
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: |
          import json
          import re

          def _extract_json(text):
              raw = (text or "").strip()
              if raw.startswith("```"):
                  raw = re.sub(r"^```(?:json|JSON)?\s*", "", raw)
                  raw = re.sub(r"\s*```$", "", raw)
              try:
                  return json.loads(raw)
              except Exception:
                  match = re.search(r"\{[\s\S]*\}", raw)
                  if match:
                      try:
                          return json.loads(match.group(0))
                      except Exception:
                          return {}
              return {}

          def _to_score(value, default=0):
              try:
                  score = int(float(str(value).strip()))
              except Exception:
                  return default
              return max(0, min(100, score))

          def _first_score(data, keys, raw, default=0):
              for key in keys:
                  if key in data:
                      return _to_score(data.get(key), default)
              for key in keys:
                  pattern = rf'"?{re.escape(key)}"?\s*[:：]\s*"?(\d+)'
                  match = re.search(pattern, raw or "")
                  if match:
                      return _to_score(match.group(1), default)
              return default

          def main(raw_text: str):
              data = _extract_json(raw_text)
              quality_score = _first_score(data, ["quality_score", "result", "score"], raw_text, 0)
              emotion_score = _first_score(data, ["emotion_score"], raw_text, 50)
              quality_reason = str(data.get("quality_reason") or data.get("reason") or "").strip()
              if not quality_reason:
                  quality_reason = "模型输出解析失败或理由为空，已按兜底规则处理。"

              return {
                  "quality_score": quality_score,
                  "quality_reason": quality_reason,
                  "emotion_score": emotion_score,
              }
        code_language: python3
        outputs:
          emotion_score:
            children:
            type: number
          quality_reason:
            children:
            type: string
          quality_score:
            children:
            type: number
        selected: false
        title: 解析输出（章评 V1）
        type: code
        variables:
        - value_selector:
          - '1781000000020'
          - text
          value_type: string
          variable: raw_text
      height: 52
      id: '1781000000021'
      position:
        x: 1952
        y: 412
      positionAbsolute:
        x: 1952
        y: 412
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: |
          import json
          import re

          def _extract_json(text):
              raw = (text or "").strip()
              if raw.startswith("```"):
                  raw = re.sub(r"^```(?:json|JSON)?\s*", "", raw)
                  raw = re.sub(r"\s*```$", "", raw)
              try:
                  return json.loads(raw)
              except Exception:
                  match = re.search(r"\{[\s\S]*\}", raw)
                  if match:
                      try:
                          return json.loads(match.group(0))
                      except Exception:
                          return {}
              return {}

          def _to_score(value, default=0):
              try:
                  score = int(float(str(value).strip()))
              except Exception:
                  return default
              return max(0, min(100, score))

          def _first_score(data, keys, raw, default=0):
              for key in keys:
                  if key in data:
                      return _to_score(data.get(key), default)
              for key in keys:
                  pattern = rf'"?{re.escape(key)}"?\s*[:：]\s*"?(\d+)'
                  match = re.search(pattern, raw or "")
                  if match:
                      return _to_score(match.group(1), default)
              return default

          def main(raw_text: str):
              data = _extract_json(raw_text)
              quality_score = _first_score(data, ["quality_score", "result", "score"], raw_text, 0)
              emotion_score = _first_score(data, ["emotion_score"], raw_text, 50)
              quality_reason = str(data.get("quality_reason") or data.get("reason") or "").strip()
              if not quality_reason:
                  quality_reason = "模型输出解析失败或理由为空，已按兜底规则处理。"

              return {
                  "quality_score": quality_score,
                  "quality_reason": quality_reason,
                  "emotion_score": emotion_score,
              }
        code_language: python3
        outputs:
          emotion_score:
            children:
            type: number
          quality_reason:
            children:
            type: string
          quality_score:
            children:
            type: number
        selected: false
        title: 解析输出（段评 V1）
        type: code
        variables:
        - value_selector:
          - '1781000000030'
          - text
          value_type: string
          variable: raw_text
      height: 52
      id: '1781000000031'
      position:
        x: 1952
        y: 724
      positionAbsolute:
        x: 1952
        y: 724
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1781000000011'
          - quality_score
          value_type: number
          variable: quality_score
        - value_selector:
          - '1781000000011'
          - quality_reason
          value_type: string
          variable: quality_reason
        - value_selector:
          - '1781000000011'
          - emotion_score
          value_type: number
          variable: emotion_score
        selected: false
        title: 输出（书评 V1）
        type: end
      height: 130
      id: '1781000000012'
      position:
        x: 1952
        y: 100
      positionAbsolute:
        x: 1952
        y: 100
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1781000000021'
          - quality_score
          value_type: number
          variable: quality_score
        - value_selector:
          - '1781000000021'
          - quality_reason
          value_type: string
          variable: quality_reason
        - value_selector:
          - '1781000000021'
          - emotion_score
          value_type: number
          variable: emotion_score
        selected: false
        title: 输出（章评 V1）
        type: end
      height: 130
      id: '1781000000022'
      position:
        x: 2264
        y: 412
      positionAbsolute:
        x: 2264
        y: 412
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1781000000031'
          - quality_score
          value_type: number
          variable: quality_score
        - value_selector:
          - '1781000000031'
          - quality_reason
          value_type: string
          variable: quality_reason
        - value_selector:
          - '1781000000031'
          - emotion_score
          value_type: number
          variable: emotion_score
        selected: false
        title: 输出（段评 V1）
        type: end
      height: 130
      id: '1781000000032'
      position:
        x: 2264
        y: 724
      positionAbsolute:
        x: 2264
        y: 724
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: 1781000000040-v2-condition
            value: V2
            varType: string
            variable_selector:
            - '1781000000002'
            - prompt_version_normalized
          id: 'true'
          logical_operator: and
        selected: false
        title: 书评 Prompt 是否 V2
        type: if-else
      height: 124
      id: '1781000000040'
      position:
        x: 1016
        y: 182
      positionAbsolute:
        x: 1016
        y: 182
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: 1781000000041-v2-condition
            value: V2
            varType: string
            variable_selector:
            - '1781000000002'
            - prompt_version_normalized
          id: 'true'
          logical_operator: and
        selected: false
        title: 章评 Prompt 是否 V2
        type: if-else
      height: 124
      id: '1781000000041'
      position:
        x: 1328
        y: 494
      positionAbsolute:
        x: 1328
        y: 494
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: 1781000000042-v2-condition
            value: V2
            varType: string
            variable_selector:
            - '1781000000002'
            - prompt_version_normalized
          id: 'true'
          logical_operator: and
        selected: false
        title: 段评 Prompt 是否 V2
        type: if-else
      height: 124
      id: '1781000000042'
      position:
        x: 1328
        y: 806
      positionAbsolute:
        x: 1328
        y: 806
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 书评 V2 评分 Prompt
        model:
          completion_params:
            temperature: 0.1
          mode: chat
          name: qwen-plus-latest
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: 1781000001043-system
          role: system
          text: |
            【Prompt 版本】V2
            你是一个书评内容质量与情绪打标助手。你只根据用户输入的纯文字书评内容评分，不评估图片、链接、昵称，也不能假设书籍原文、章节内容或外部背景。

            【输入字段说明】
            - 评论类型：固定为“书评”
            - 评论内容：必填，需要评估的书评文本

            【核心原则】
            - 质量分只评评论文本本身的信息量、观点清晰度、分析深度和表达质量
            - 情绪分只评文字表达出的情绪倾向，不参与质量分
            - 评分理由必须引用评论文本中的可见证据
            - 不允许写“贴合原文”“准确捕捉剧情”“符合段落氛围”等输入中没有证据的判断

            【质量评分标准】
            - 0分：空文本、纯乱码、完全不可理解
            - 1-29分：广告导流、攻击辱骂、无意义灌水、严重不相关或表达混乱
            - 30-49分：只有泛化态度或极短判断，如“好看”“一般”“无语”，基本没有信息增量
            - 50-69分：有明确阅读感受或评价立场，但分析浅，缺少具体对象、理由或展开
            - 70-79分：有明确观点、对象或理由，能说明人物、情节、节奏、设定、主题、优缺点中的至少一项
            - 80-100分：有文本内可见的深入分析、结构化评价、多个维度比较、独到判断或高质量表达

            【短评与泛评上限】
            - 单纯“好看”“推荐”“太烂了”“一般”等泛化书评，通常不超过49分
            - 有明确对象和理由但较短的书评，通常在50-69分
            - 只有在文本本身出现具体分析或清晰论证时，才可进入80分以上

            【情绪评分标准】
            - 0-29分：明显负向，强烈不满、愤怒、失望、反感、讽刺或攻击
            - 30-59分：中性偏负、理性批评、疑问、吐槽或情绪混合
            - 60-79分：中性偏正、轻微认可、平和陈述或情绪不强
            - 80-100分：明显正向，明确喜欢、认可、感动、兴奋或强烈推荐
            - 玩梗、调侃、反问和表情不自动等于正向，必须结合文字主体判断

            【输出格式】
            只输出严格JSON，不要输出Markdown，不要添加额外解释。不要输出quality_level或emotion_type，这两个字段由后续映射节点生成。
            {
              "quality_score": 0-100的整数,
              "quality_reason": "评分理由，需说明质量等级倾向和主要原因，并引用评论文本中的可见证据",
              "emotion_score": 0-100的整数
            }
        - id: 1781000001043-user
          role: user
          text: |
            {
              "comment_type": {{#1781000000001.comment_type#}},
              "comment_content": {{#1781000000001.comment_content#}}
            }
        selected: false
        structured_output_enabled: false
        title: 书评打分 Prompt V2
        type: llm
        vision:
          enabled: false
      height: 116
      id: '1781000000043'
      position:
        x: 1328
        y: 264
      positionAbsolute:
        x: 1328
        y: 264
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 章评 V2 评分 Prompt
        model:
          completion_params:
            temperature: 0.1
          mode: chat
          name: qwen-plus-latest
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: 1781000001044-system
          role: system
          text: |
            【Prompt 版本】V2
            你是一个章评内容质量与情绪打标助手。你只根据用户输入的纯文字章评内容评分，不评估图片、链接、昵称，也不能假设章节正文、上下文或外部背景。

            【输入字段说明】
            - 评论类型：固定为“章评”
            - 评论内容：必填，需要评估的章评文本

            【核心原则】
            - 质量分只评评论文本本身是否有具体对象、观点、信息增量、讨论价值或表达亮点
            - 情绪分只评文字情绪倾向，不参与质量分
            - 评分理由必须引用评论文本中的可见证据
            - 不允许写“贴合章节”“准确捕捉剧情”“符合章节氛围”等输入中没有证据的判断

            【质量评分标准】
            - 0分：空文本、纯乱码、完全不可理解
            - 1-29分：广告导流、攻击辱骂、无意义刷屏、严重不相关或表达混乱
            - 30-49分：只有到场、催更、拟声、泛化情绪或纯互动，如“来了”“哈哈”“快”“牛逼”，基本没有讨论价值
            - 50-69分：有有效互动、明确态度、疑问或即时反应，但对象和理由较弱
            - 70-79分：有明确剧情、人物、设定、节奏、反转、逻辑或表达对象，并给出可理解判断
            - 80-100分：有较强分析价值、独到观点、清楚论证、强表达亮点或能引发高质量讨论

            【有效互动与高质量的边界】
            - 有效互动不等于高质量评论
            - “笑死”“这反转绝了”等短互动可给50-69分，只有包含明确对象或判断时才考虑70+
            - 纯情绪强烈但没有对象、理由或信息增量，不应进入80+

            【情绪评分标准】
            - 0-29分：明显负向，强烈吐槽、抱怨、失望、反感、讽刺或攻击
            - 30-59分：中性偏负、疑问、调侃、剧情质疑、理性批评或情绪混合
            - 60-79分：中性偏正、轻微认可、期待、普通互动或情绪不强
            - 80-100分：明显正向，明确喜爱、认可、兴奋、感动或强烈正向互动
            - 玩梗、吐槽、反问、[狗头]、笑哭不自动等于正向，需要看文字主体是在认可还是批评

            【输出格式】
            只输出严格JSON，不要输出Markdown，不要添加额外解释。不要输出quality_level或emotion_type，这两个字段由后续映射节点生成。
            {
              "quality_score": 0-100的整数,
              "quality_reason": "评分理由，需说明质量等级倾向和主要原因，并引用评论文本中的可见证据",
              "emotion_score": 0-100的整数
            }
        - id: 1781000001044-user
          role: user
          text: |
            {
              "comment_type": {{#1781000000001.comment_type#}},
              "comment_content": {{#1781000000001.comment_content#}}
            }
        selected: false
        structured_output_enabled: false
        title: 章评打分 Prompt V2
        type: llm
        vision:
          enabled: false
      height: 116
      id: '1781000000044'
      position:
        x: 1640
        y: 576
      positionAbsolute:
        x: 1640
        y: 576
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 段评 V2 评分 Prompt
        model:
          completion_params:
            temperature: 0.1
          mode: chat
          name: qwen-plus-latest
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: 1781000001045-system
          role: system
          text: |
            【Prompt 版本】V2
            你是一个段评内容质量与情绪打标助手。你只根据用户输入的纯文字段评内容评分，不评估图片、链接、昵称，也不能假设段落正文、章节内容或外部背景。

            【输入字段说明】
            - 评论类型：固定为“段评”
            - 评论内容：必填，需要评估的段评文本

            【核心原则】
            - 质量分只评评论文本本身是否有明确对象、态度、信息增量、表达完整度或可讨论性
            - 情绪分只评文字情绪倾向，不参与质量分
            - 评分理由必须引用评论文本中的可见证据
            - 不允许写“贴合段落”“准确捕捉原文”“符合段落氛围”等输入中没有证据的判断

            【质量评分标准】
            - 0分：空文本、纯乱码、完全不可理解
            - 1-29分：广告导流、攻击辱骂、纯符号刷屏、无意义重复或严重不相关
            - 30-49分：短泛评默认上限区间。只有泛化情绪、到场、催促、拟声或无对象短词，如“爽”“哈哈”“来了”“快”“牛逼”
            - 50-69分：有效互动区间。有明确态度、疑问、吐槽或情绪，但对象、理由、信息增量较弱
            - 70-79分：有明确对象和可理解判断，如点到人物、行为、逻辑、设定、冲突或表达效果
            - 80-100分：有文本内可见的洞察、精准吐槽、强表达亮点、具体分析或能引发高质量讨论

            【短评上限规则】
            - 6字以内且没有明确对象或判断的短泛评，通常不超过49分
            - 10字以内但只有情绪强度、没有对象或理由的评论，通常不超过59分
            - 短评可以高质量，但必须在文本本身看得到对象、判断或表达亮点
            - 情绪强烈不等于质量高，互动价值一般只能支持50-69分

            【情绪评分标准】
            - 0-29分：明显负向，强烈吐槽、反感、讽刺、失望、攻击或否定
            - 30-59分：中性偏负、质疑、反问、调侃、剧情吐槽或混合情绪
            - 60-79分：中性偏正、普通期待、轻微认可、平淡互动或情绪不强
            - 80-100分：明显正向，开心、认可、兴奋、感动、强烈喜欢或明确赞同
            - “[狗头]”“笑哭”、玩梗和反问不自动判正向，需要结合文字主体语义

            【输出格式】
            只输出严格JSON，不要输出Markdown，不要添加额外解释。不要输出quality_level或emotion_type，这两个字段由后续映射节点生成。
            {
              "quality_score": 0-100的整数,
              "quality_reason": "评分理由，需说明质量等级倾向和主要原因，并引用评论文本中的可见证据",
              "emotion_score": 0-100的整数
            }
        - id: 1781000001045-user
          role: user
          text: |
            {
              "comment_type": {{#1781000000001.comment_type#}},
              "comment_content": {{#1781000000001.comment_content#}}
            }
        selected: false
        structured_output_enabled: false
        title: 段评打分 Prompt V2
        type: llm
        vision:
          enabled: false
      height: 116
      id: '1781000000045'
      position:
        x: 1640
        y: 888
      positionAbsolute:
        x: 1640
        y: 888
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: |
          import json
          import re

          def _extract_json(text):
              raw = (text or "").strip()
              if raw.startswith("```"):
                  raw = re.sub(r"^```(?:json|JSON)?\s*", "", raw)
                  raw = re.sub(r"\s*```$", "", raw)
              try:
                  return json.loads(raw)
              except Exception:
                  match = re.search(r"\{[\s\S]*\}", raw)
                  if match:
                      try:
                          return json.loads(match.group(0))
                      except Exception:
                          return {}
              return {}

          def _to_score(value, default=0):
              try:
                  score = int(float(str(value).strip()))
              except Exception:
                  return default
              return max(0, min(100, score))

          def _first_score(data, keys, raw, default=0):
              for key in keys:
                  if key in data:
                      return _to_score(data.get(key), default)
              for key in keys:
                  pattern = rf'"?{re.escape(key)}"?\s*[:：]\s*"?(\d+)'
                  match = re.search(pattern, raw or "")
                  if match:
                      return _to_score(match.group(1), default)
              return default

          def main(raw_text: str):
              data = _extract_json(raw_text)
              quality_score = _first_score(data, ["quality_score", "result", "score"], raw_text, 0)
              emotion_score = _first_score(data, ["emotion_score"], raw_text, 50)
              quality_reason = str(data.get("quality_reason") or data.get("reason") or "").strip()
              if not quality_reason:
                  quality_reason = "模型输出解析失败或理由为空，已按兜底规则处理。"

              return {
                  "quality_score": quality_score,
                  "quality_reason": quality_reason,
                  "emotion_score": emotion_score,
              }
        code_language: python3
        outputs:
          emotion_score:
            children:
            type: number
          quality_reason:
            children:
            type: string
          quality_score:
            children:
            type: number
        selected: false
        title: 解析输出（书评 V2）
        type: code
        variables:
        - value_selector:
          - '1781000000043'
          - text
          value_type: string
          variable: raw_text
      height: 52
      id: '1781000000046'
      position:
        x: 1640
        y: 264
      positionAbsolute:
        x: 1640
        y: 264
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: |
          import json
          import re

          def _extract_json(text):
              raw = (text or "").strip()
              if raw.startswith("```"):
                  raw = re.sub(r"^```(?:json|JSON)?\s*", "", raw)
                  raw = re.sub(r"\s*```$", "", raw)
              try:
                  return json.loads(raw)
              except Exception:
                  match = re.search(r"\{[\s\S]*\}", raw)
                  if match:
                      try:
                          return json.loads(match.group(0))
                      except Exception:
                          return {}
              return {}

          def _to_score(value, default=0):
              try:
                  score = int(float(str(value).strip()))
              except Exception:
                  return default
              return max(0, min(100, score))

          def _first_score(data, keys, raw, default=0):
              for key in keys:
                  if key in data:
                      return _to_score(data.get(key), default)
              for key in keys:
                  pattern = rf'"?{re.escape(key)}"?\s*[:：]\s*"?(\d+)'
                  match = re.search(pattern, raw or "")
                  if match:
                      return _to_score(match.group(1), default)
              return default

          def main(raw_text: str):
              data = _extract_json(raw_text)
              quality_score = _first_score(data, ["quality_score", "result", "score"], raw_text, 0)
              emotion_score = _first_score(data, ["emotion_score"], raw_text, 50)
              quality_reason = str(data.get("quality_reason") or data.get("reason") or "").strip()
              if not quality_reason:
                  quality_reason = "模型输出解析失败或理由为空，已按兜底规则处理。"

              return {
                  "quality_score": quality_score,
                  "quality_reason": quality_reason,
                  "emotion_score": emotion_score,
              }
        code_language: python3
        outputs:
          emotion_score:
            children:
            type: number
          quality_reason:
            children:
            type: string
          quality_score:
            children:
            type: number
        selected: false
        title: 解析输出（章评 V2）
        type: code
        variables:
        - value_selector:
          - '1781000000044'
          - text
          value_type: string
          variable: raw_text
      height: 52
      id: '1781000000047'
      position:
        x: 1952
        y: 576
      positionAbsolute:
        x: 1952
        y: 576
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: |
          import json
          import re

          def _extract_json(text):
              raw = (text or "").strip()
              if raw.startswith("```"):
                  raw = re.sub(r"^```(?:json|JSON)?\s*", "", raw)
                  raw = re.sub(r"\s*```$", "", raw)
              try:
                  return json.loads(raw)
              except Exception:
                  match = re.search(r"\{[\s\S]*\}", raw)
                  if match:
                      try:
                          return json.loads(match.group(0))
                      except Exception:
                          return {}
              return {}

          def _to_score(value, default=0):
              try:
                  score = int(float(str(value).strip()))
              except Exception:
                  return default
              return max(0, min(100, score))

          def _first_score(data, keys, raw, default=0):
              for key in keys:
                  if key in data:
                      return _to_score(data.get(key), default)
              for key in keys:
                  pattern = rf'"?{re.escape(key)}"?\s*[:：]\s*"?(\d+)'
                  match = re.search(pattern, raw or "")
                  if match:
                      return _to_score(match.group(1), default)
              return default

          def main(raw_text: str):
              data = _extract_json(raw_text)
              quality_score = _first_score(data, ["quality_score", "result", "score"], raw_text, 0)
              emotion_score = _first_score(data, ["emotion_score"], raw_text, 50)
              quality_reason = str(data.get("quality_reason") or data.get("reason") or "").strip()
              if not quality_reason:
                  quality_reason = "模型输出解析失败或理由为空，已按兜底规则处理。"

              return {
                  "quality_score": quality_score,
                  "quality_reason": quality_reason,
                  "emotion_score": emotion_score,
              }
        code_language: python3
        outputs:
          emotion_score:
            children:
            type: number
          quality_reason:
            children:
            type: string
          quality_score:
            children:
            type: number
        selected: false
        title: 解析输出（段评 V2）
        type: code
        variables:
        - value_selector:
          - '1781000000045'
          - text
          value_type: string
          variable: raw_text
      height: 52
      id: '1781000000048'
      position:
        x: 1952
        y: 888
      positionAbsolute:
        x: 1952
        y: 888
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1781000000046'
          - quality_score
          value_type: number
          variable: quality_score
        - value_selector:
          - '1781000000046'
          - quality_reason
          value_type: string
          variable: quality_reason
        - value_selector:
          - '1781000000046'
          - emotion_score
          value_type: number
          variable: emotion_score
        selected: false
        title: 输出（书评 V2）
        type: end
      height: 130
      id: '1781000000049'
      position:
        x: 1952
        y: 264
      positionAbsolute:
        x: 1952
        y: 264
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1781000000047'
          - quality_score
          value_type: number
          variable: quality_score
        - value_selector:
          - '1781000000047'
          - quality_reason
          value_type: string
          variable: quality_reason
        - value_selector:
          - '1781000000047'
          - emotion_score
          value_type: number
          variable: emotion_score
        selected: false
        title: 输出（章评 V2）
        type: end
      height: 130
      id: '1781000000050'
      position:
        x: 2264
        y: 576
      positionAbsolute:
        x: 2264
        y: 576
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1781000000048'
          - quality_score
          value_type: number
          variable: quality_score
        - value_selector:
          - '1781000000048'
          - quality_reason
          value_type: string
          variable: quality_reason
        - value_selector:
          - '1781000000048'
          - emotion_score
          value_type: number
          variable: emotion_score
        selected: false
        title: 输出（段评 V2）
        type: end
      height: 130
      id: '1781000000051'
      position:
        x: 2264
        y: 888
      positionAbsolute:
        x: 2264
        y: 888
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 0
      y: 0
      zoom: 0.6
  rag_pipeline_variables: []
